@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
    font-family: Nunito Sans, Helvetica, Arial, sans-serif;
}

h5 {
    font-size: 20pt;
}

h1.title_text {
    text-align: center;
    font-size: 50pt;
    font-weight: bold;
}

hr.solid {
    margin-right: 10%;
    margin-left: 10%;
    border-top: solid 2px;
    color: #339966;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

p {
    font-size: 14pt;
}

footer {
    margin-top: auto;
}

nav {
    font-size: 14pt;
}

button {
    user-select: text;
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    cursor: text;
}

code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15pt !important;
}

code.tooltip_text {
    font-size: 11pt !important;
}

code.inline {
    font-size: 14pt !important;
}

small {
    font-size: 11pt !important;
}

.element_colour_1 {
    background-color:  #339966;
}

.coloured_title_text {
    color:  #339966;
}

.coloured_title_text_light {
    color:  #6edaa4;
}

.main_content_box {
    background-color: rgba(245, 245, 245, 0.806);
}

.subtext_box {
    background-color: rgb(236, 243, 228);
}

.sub-subtext_box {
    background-color: rgba(206, 227, 183, 0.713);
}

.image_border {
    border-style: solid;
    border-width: 5px;
    border-color: #339966;
    padding: 10px;
}

.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.floating {
    max-width: calc(100vw - 10px);
  }

  .button_container {
    height: 200px;
  }

  .bottom_nav_button {
    height: 100%;
  }

#code_tooltip {
    display: none;
    width: max-content;
    max-width: 630px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #222;
    color: white;
    padding: 5px;
    border-radius: 4px;
}