h1.title_text {
    text-align: center;
    font-size: 35pt;
}

hr.solid {
    margin-right: 10%;
    margin-left: 10%;
    border-top: solid 2px;
    color: #339966;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.element_colour_1 {
    background-color:  #339966;
}

.coloured_title_text {
    color:  #339966;
}

.coloured_title_text_light {
    color:  #6edaa4;
}

.main_content_box {
    background-color: rgba(245, 245, 245, 0.806);
}

.subtext_box {
    background-color: rgb(236, 243, 228);
}

.sub-subtext_box {
    background-color: rgba(206, 227, 183, 0.713);
}

.image_border {
    border-style: solid;
    border-width: 5px;
    border-color: #339966;
    padding: 10px;
}

.sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
}

.content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}